body {
     	/*This should be where I can color everything*/
	background-color: #2a2a2a;
	color: #bebebe;
    border-style: dashed;
    font-family: Monospace, sans-serif;
    padding: 25px 50px 75px 50px;
}

a:link {
    background-color: #4a4d71;
    color: #bebebe;
    padding: 3px;
    text-decoration: none;
}

a:visited {
    background-color: #574b45;
    color: #bebebe;
    padding: 3px;
    text-decoration: none;
}

div.a {
    line-height: 1.8;
}
